ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
  }

li {
    float: left;
  }
  
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(42, 39, 36);
    color: rgb(250, 210, 196);
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 500px;
    
}

.nav-links a{
    color: rgb(237, 231, 210);
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 120% auto;
    background-color: rgb(42, 39, 36);
    border-radius: 23px;
    padding: 10px;
    
}

.nav-links a:hover{
    background-color: rgb(237, 231, 210);
    color: rgb(42, 39, 36);
    border-width: 20px;
    border-radius: 20px;
    transition: 0.6s;
    
    
}











body{
    margin: 0;
    
}








section{
    font-size: 2rem;
    padding: 2rem;
    background-color: rgb(42, 39, 36);
    color: rgb(237, 231, 210);
}


.wrapper{
    height: 85vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    
}

header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}



.BackgroundX{
    transform: translateZ(-10px) scale(2);
}

.ForegroundX{
    transform: translateZ(-5px) scale(1.5);
}



.BackgroundX,
.ForegroundX {
    background-size: 5%;
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

/*--------------------------------------------------------------------------------------*/

.About-Us{
    text-align: center;
}

.parallax2 {
    
    background-image: url("Background_New.jpg");
    min-height: 30px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
    top: 50%;
  }




.Description{
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Explanation{
    align-items: row;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.Names{
    text-align: center;
    font-size: 1.2rem;
    font-family:Georgia, 'Times New Roman', Times, serif
    
}


.Description2{
    text-align: center;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.burger{
    display: none;
}

.burger div{
   width: 30px;
   height: 3px;
   background-color: rgb(237, 231, 210);
   margin: 3px;
}

@media screen and (max-width:768px){
    .nav-links{
        font-size: smaller;
    }
}

@media screen and (max-width:500px){
    .Explanation{
        font-size: 0.7rem;
    }
}
@media screen and (max-width:500px){
    .Explanation{
        font-size: 0.7rem;
    }
}
@media screen and (max-width:550px){
    .Present{
        height: 100px;
        width: 140px;
    }
}



